.theme--button--container{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    box-shadow: 0px 2px 10px, rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.theme--button{
    height: 60px;
    background-color: var(--secondary-color);
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--accent-color);
}

.theme--icon{
    font-size: 2rem;
    color: var(--accent-color);
}