.navbar-buttons {
    padding: 1vw;
    font-size: 3.5vw;
    /* background-color: rgb(211, 211, 255); */
    /* border: 1px solid black; */

}
.navbar-buttons:hover {
    transform: scale(1.1);
    padding: 1vw;
    /* background-color: rgb(164, 164, 255); */


    transition: .5s;
}
.navbar-container {
    margin-top: 0;
    
}
