#root {
  padding: 2rem;
  text-align: center;
  width: auto;
  margin: 0 auto;
}
.routes{
  max-width: max-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.navbar{
  max-width: max-content;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}